html,
body {
  min-height: 100vh;
}

.primary-shadow {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 53%);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.footer {
  background-color: #454545;
  color: #ffffff;
  padding: 15px;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}

#sipClient {
  background-color: #333;
  font-size: 13px;
  line-height: 1.42857143;
  /* firefox 19+ */
  /* ie */
}

#sipClient p {
  /* margin: 0; */
  /* padding: 0 0 10px 0; */
  line-height: 18px;
}

.btn-lg {
  border-radius: 0px;
}

#sipClient .sipStatus {
  /* margin: 0 -15px 15px -15px; */
  /* border-top-left-radius: 3px; */
  /* border-top-right-radius: 3px; */
  /* padding: 5px 15px; */
  /* background-color: #fff; */
  color: #070707;
}

#sipClient #txtCallStatus {
  color: black;
}
#sipClient #sip-dialpad {
  width: 270px;
  padding: 16px 20px;
}
#sipClient #sip-dialpad .col-xs-4 {
  text-align: center;
}

#sipClient .digit {
  height: 66px;
  width: 66px;
  margin: 6px 5px 6px !important;
  background-color: #f8f8f8;
  font-weight: 300;
  font-size: 24px;
  border-radius: 100px;
  line-height: 21px;
  padding-top: 9px;
  float: left;
}

#sipClient .digit span {
  display: block;
  color: #999;
  font-size: 10px;
  font-weight: normal;
}

#sipClient .sip-panel h3 {
  margin-top: 22px;
}

#sipClient #sip-splash {
  height: 371px;
}

#sipClient #sip-splash .fa {
  margin-bottom: 15px;
}

#sipClient #sip-splash .fa-circle {
  color: #5cb85c;
}

#sipClient #sip-log .panel-heading {
  padding: 10px 8px;
}

#sipClient #sip-logitems ,#sip-anexs {
  height: 242px;
  overflow: auto;
}

#sipClient #sldVolume {
  width: 140px;
  margin: 0 auto;
  box-shadow: none;
}

#sipClient .sip-logitem {
  padding: 0;
  /* padding-top: 4px; */
  margin-bottom: 5px;
}

#sipClient #numDisplay::-webkit-input-placeholder {
  color: #bbb;
}

#sipClient #numDisplay::-moz-placeholder {
  color: #bbb;
}

#sipClient #numDisplay::-ms-input-placeholder {
  color: #bbb;
}

#sipClient #numDisplay::-moz-placeholder {
  color: #bbb;
}
/* 
#sip-log {
  width: 200px;
  border-radius: 0;
} */

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
input:focus {
  outline: none;
}
li.active>a {
  border: none !important;
  background-color: #eee !important;
  border-radius: 0 !important;
  
}
li.active>a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
}
.panel{
  margin: 0;
}