#numDisplay{
    height: 100%;
}
.dropdown-toggle::after {
    display: none;
}
.row-table-log{
    height: 53px;
    /* overflow: hidden; */
}
.muted , .muted:focus{
    color: red;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    margin-left: 0px;
}